{% extends "yaba/layouts/base.html" %}

{% block title %}About | {{ block.super }}{% endblock %}

{% block main_content %}
    <h1>About me</h1>
    <p>I'm a full stack web developer and software engineer based in the city of Chihuahua, located in the northern
        region of México. I have a B.A. degree in Computer Information Systems from the Univeristy of Texas at El Paso
        (UTEP), where I graduated with honors in 2012. </p>
    <p>My favorite web development tools are Django and Node.JS for the backend and React.JS and Webpack for the
        frontend, but I can work with most MVC-oriented architectures/frameworks based on Python, Node.JS or PHP, as
        well as with most modern Javascript frontend tools. I also have 3 years of experience working with Wordpress CMS
         (developing custom themes and plugins) and I have a very solid understanding of SEO principles. </p>
{% endblock %}