{% extends "yaba/layouts/base.html" %}

{% block main_content %}

    <h1>Contact Me</h1>

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success"><strong>Success!</strong> {{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad delectus deserunt laudantium magni neque quam sit
        soluta tempora totam! Amet cum fuga minima nam officia quidem, sint soluta vitae!</p>

    <form method="POST" id="contact-form" action="{% url 'contact' %}">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }} {{ field }}
                {{ field.errors|safe }}
            </div>
        {% endfor %}

        <button type="submit" class="button">Send</button>
    </form>

{% endblock %}
