{% load show_nav_header_menu_items from yaba_tags %}

<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar"
                aria-expanded="true" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        {% show_nav_header_menu_items %}
    </div>
    <!--/.nav-collapse -->
    <!--/.container-fluid -->
</nav>