{% load static %}

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">My Recently Scrobbled Tracks</h4>
            </div>
            <div class="modal-body" data-state="empty">
                <span class="loading-message">Loading...</span>
            </div>
            <div class="modal-footer">
                <div class="modal-powered-by">
                    <span>Powered by:</span>
                    <a href="https://www.last.fm/home" target="_blank"><img src="{% static "site/img/last-fm-logo.png" %}"
                                                            alt="Powered By Last.fm"></a>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>