<aside class="sidebar">
    <div class="sidebar__avatar">
        <a href="{% url 'posts:index' %}"><img src="http://lorempixel.com/100/100/"></a>
    </div>
    <div class="sidebar__blog-title">
        <h3><a href="{% url 'posts:index' %}">Fernando Poumian</a></h3>
    </div>
    <div class="sidebar__blog-description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias quisquam non voluptatum iste
            necessitatibus magni
            accusantium.
        </p>
    </div>
    <div class="sidebar__social-icons">
        <a href="#" target="_blank" class="button button--round">
            <span class="fa fa-github-alt button__icon" aria-hidden="true"></span>
        </a>
        <a href="#" target="_blank" class="button button--round">
            <span class="fa fa-twitter button__icon" aria-hidden="true"></span>
        </a>
    </div>
    <div class="sidebar__extended-buttons">
        <button class="button button--round button--round-extended js-my-scrobbles-toggle js-modal"
                data-modal-content="scrobbles">
            <span class="fa fa-lastfm button__icon" aria-hidden="true"></span>
            <span class="button__inner-text">My Scrobbles</span>
        </button>
    </div>
</aside>