<nav aria-label="...">
    <ul class="posts__pager">
        <li class="posts__pager--previous">
            <a href="#" class="button button--round button--round-extended">
                <span class="fa fa-angle-double-left button__icon" aria-hidden="true"></span>
                <span class="button__inner-text">Previous</span>
            </a>
        </li>
        <li class="posts__pager--next">
            <a href="#" class="button button--round button--round-extended">
                <span class="button__inner-text">Next</span>
                <span class="fa fa-angle-double-right button__icon" aria-hidden="true"></span>
            </a>
        </li>
    </ul>
</nav>