{% extends 'posts/partials/_base_pagination.html' %}

{% block previous %}
    {% if previous %}
        <li class="posts__pager--previous">
            <a href="{{ previous.get_absolute_url }}" class="button button--round button--round-extended">
                <span class="fa fa-angle-double-left button__icon" aria-hidden="true"></span>
                <span class="button__inner-text">Previous Post</span>
            </a>
        </li>
    {% endif %}
{% endblock %}
{% block next %}
    {% if next %}
        <li class="posts__pager--next">
            <a href="{{ next.get_absolute_url }}" class="button button--round button--round-extended">
                <span class="button__inner-text">Next Post</span>
                <span class="fa fa-angle-double-right button__icon" aria-hidden="true"></span>
            </a>
        </li>
    {% endif %}
{% endblock %}

