{% load render_bundle from webpack_loader %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,700|Lora:700" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'site/img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'site/img/favicon.ico' %}" type="image/x-icon">
    {% include 'yaba/partials/_inline-js.html' %}
    {% render_bundle 'main' 'css' 'DEFAULT' %}
</head>
<body>
<div class="container" id="panel">
    <!-- desktop nav -->
    <div class="wrapper navbar-wrapper">
        {% include 'yaba/partials/_header-nav.html' %}
    </div>
    <div class="wrapper main-wrapper">
        <main class="content">
            {% block main_content %}{% endblock %}
        </main>
        {% include 'yaba/partials/_sidebar.html' %}
    </div>
    {% include 'yaba/partials/_footer.html' %}
    {% include 'yaba/partials/_modal.html' %}
</div> <!-- .container -->
<a href="#" target="_blank" class="button button--round button--back-to-top" id="back-to-top" role="button"
   title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
    <span class="fa fa-arrow-up button__icon" aria-hidden="true"></span>
</a>
{% render_bundle 'main' 'js' 'DEFAULT' %}
</body>
</html>